.footer-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.footer-left {
  position: relative;
  color: white;
  flex-grow: 1;
  display: flex;
  margin-left: 5px;
  height: 100%;
}

.link-button {
  display: inline-block;
  padding: 2px 5px;
  background-color: #336; /* Dark background color */
  color: #fff; /* White text color */
  text-decoration: none;
  border-radius: 5px;
  border: none;
  font-size: 12px;
}

.ticker {
  height: fit-content;
  width: 100%;
  display: flex;
  bottom: 0;
  position: absolute;
}

.ticker marquee {
  display: flex;
  align-items: center;
  width: 100%;
}

.text {
  width: 100%;
}

.text h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.text p {
  font-size: 15px;
  font-weight: 400;
}

.text span {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
